---
import { sidebar } from "./sidebar.config";
---

<aside class="sidebar">
		<ul>
			<li>
				<a href=/>Главная</a>
			</li>
		</ul>
	{sidebar.map(section => (
		<div class="section">
			<h4>{section.title}</h4>
			<ul>
				{section.items.map(item => (
					<li>
						<a href={item.href}>{item.label}</a>
					</li>
				))}
			</ul>
		</div>
	))}
</aside>

<style>
	.sidebar {
		width: 100%;
		padding: 2rem 1rem;
		background-color: var(--color-bg);
	}
</style>
