---
import Sidebar from "../components/Sidebar/Sidebar.astro";
import "../styles/global.css";
const { title, description } = Astro.props;
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{title ?? "Docs — A11YNC"}</title>
  {description && <meta name="description" content={description} />}
</head>

<body>
  <div class="layout">
    <main class="content">
      <article>
        <slot />
      </article>
    </main>

		<Sidebar class="sidebar"/>
  </div>
</body>
</html>

<style>
.layout {
  display: grid;
	grid-template-columns: 1.618fr 1fr;
}
.content {
  padding: 2rem;
}
</style>
