---
import { useButton } from "a11ync";
---

<button id="basic-btn">button</button>

<script>
  import { useButton } from 'a11ync';

	const el = document.querySelector('#basic-btn')
  const button = new useButton(el, {
    onPress: () => {
      console.log('Pressed')
    }
  })
</script>
