---
import { Button } from "a11ync";
---

<div class="a11y-btn-div">Click me div</div>

<script>
  import { Button } from 'a11ync';
  new Button(document.querySelector('.a11y-btn-div'));
</script>

<style>
.a11y-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
</style>
